<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="../../public/js/games/jquery-3.7.0.min.js"></script>
  <script src="../../public/js/games/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="../../public/css/games/bootstrap.min.css">
  <script src="../../public/js/games/bootstrap.bundle.min.js"></script>
  <script src="../../public/js/games/sweetalert2.min.js"></script>
  <script src="../../public/js/games/tailwindcss.min.js"></script>
  <script src="../../public/js/games/check-orientation.js"></script>
  <script src="../../public/js/games/jquery.ui.touch-punch.min.js"></script> 
  <script src="../../public/js/games/howler.min.js"></script>
  <script>tailwind.config = { prefix: 'injwang-' }</script>
<style>

body {
  font-family: Verdana;
  overflow-y: hidden;
}

body::before{
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: url(../../public/imgs/games/light_gray_concrete_wall.jpg) repeat 50% 50%;
  background-size: cover;
  position: absolute;
  opacity: 0.2;
  z-index: -9999;
}

</style>

</head>
<body>
  <div class="container injwang-bg-white lg:injwang-text-2xl injwang-max-w-[1180px] injwang-h-full injwang-shadow-md">
    <div id="title-warp" class="injwang-pt-2 lg:injwang-pt-6">
      <div class="injwang-flex injwang-items-center injwang-mx-auto injwang-w-[90%]">
        <div class="injwang-w-full injwang-relative">
          <img class="injwang-absolute injwang-left-[-2.5rem] injwang-top-1 injwang-h-8" src="../../public/imgs/games/title-fog.png">
          <div class="game-title injwang-text-orange-500 injwang-text-2xl lg:injwang-text-4xl injwang-border-b lg:injwang-pb-4 lg:injwang-mb-2">Mommy and Baby </div>
          <div>
            Help each baby to find its mommy, and connect them correctly. 
          </div>
        </div>
      </div>
    </div>
    <div id="app" class="injwang-w-[90%] injwang-mx-auto injwang-mt-[20px]"></div>
  </div>
</body>



<script>
    /**
     * 串接系統設定值
     * useComputerOrPadImgUrl 為提示使用平板或電腦圖片路徑
     * pleaseRotationImgUrl 為提示使用將平板轉為橫式
     * finishedUrl 為完成遊戲時的圖片連結
     */
     var useComputerOrPadImgUrl = '../../public/imgs/games/computerOrPad.png',
        pleaseRotationImgUrl = '../../public/imgs/games/pleaseRotation.png',
        finishedDatas=[{
            img: '../../public/imgs/games/finishImg1.png',
            sound:'../../public/sounds/games/finishSound1.mp3',
          },{
            img: '../../public/imgs/games/finishImg2.png',
            sound:'../../public/sounds/games/finishSound2.mp3',
          },{
            img: '../../public/imgs/games/finishImg3.png',
            sound:'../../public/sounds/games/finishSound3.mp3',
          }
        ],
        finishedDataUrl = function(){
          return finishedDatas[Math.floor(Math.random()*finishedDatas.length)];
        };

  var option = [
    [
      "../../public/imgs/games/07-1/26/puppy.png       ,puppy      ,1,../../public/imgs/games/07-1/26/dog.png       ,dog      ,3",
      "../../public/imgs/games/07-1/26/kitten.png      ,kitten     ,2,../../public/imgs/games/07-1/26/cat.png       ,cat      ,4",
      "../../public/imgs/games/07-1/26/chick.png       ,chick      ,3,../../public/imgs/games/07-1/26/hen.png       ,hen      ,1",
      "../../public/imgs/games/07-1/26/tadpole.png     ,tadpole    ,4,../../public/imgs/games/07-1/26/frog.png      ,frog     ,2",
    ],
    [
      "../../public/imgs/games/07-1/26/chick.png       ,chick      ,1,../../public/imgs/games/07-1/26/hen.png       ,hen      ,2",
      "../../public/imgs/games/07-1/26/tadpole.png     ,tadpole    ,2,../../public/imgs/games/07-1/26/frog.png      ,frog     ,1",
      "../../public/imgs/games/07-1/26/caterpillar.png ,caterpillar,3,../../public/imgs/games/07-1/26/butterfly.png ,butterfly,3",
      "../../public/imgs/games/07-1/26/baby.png        ,baby       ,4,../../public/imgs/games/07-1/26/mommy.png     ,mommy    ,4"
    ],
    [
      "../../public/imgs/games/07-1/26/puppy.png       ,puppy      ,1,../../public/imgs/games/07-1/26/dog.png       ,dog      ,3",
      "../../public/imgs/games/07-1/26/chick.png       ,chick      ,2,../../public/imgs/games/07-1/26/hen.png       ,hen      ,1",
      "../../public/imgs/games/07-1/26/tadpole.png     ,tadpole    ,3,../../public/imgs/games/07-1/26/frog.png      ,frog     ,2",
      "../../public/imgs/games/07-1/26/baby.png        ,baby       ,4,../../public/imgs/games/07-1/26/mommy.png     ,mommy    ,4"
    ],
    [
      "../../public/imgs/games/07-1/26/kitten.png      ,kitten     ,1,../../public/imgs/games/07-1/26/cat.png       ,cat      ,4",
      "../../public/imgs/games/07-1/26/chick.png       ,chick      ,2,../../public/imgs/games/07-1/26/hen.png       ,hen      ,1",
      "../../public/imgs/games/07-1/26/tadpole.png     ,tadpole    ,3,../../public/imgs/games/07-1/26/frog.png      ,frog     ,2",
      "../../public/imgs/games/07-1/26/caterpillar.png ,caterpillar,4,../../public/imgs/games/07-1/26/butterfly.png ,butterfly,3",
    ],
    [
      "../../public/imgs/games/07-1/26/kitten.png      ,kitten     ,1,../../public/imgs/games/07-1/26/cat.png       ,cat      ,4",
      "../../public/imgs/games/07-1/26/caterpillar.png ,caterpillar,2,../../public/imgs/games/07-1/26/butterfly.png ,butterfly,3",
      "../../public/imgs/games/07-1/26/baby.png        ,baby       ,3,../../public/imgs/games/07-1/26/mommy.png     ,mommy    ,2",
      "../../public/imgs/games/07-1/26/chick.png       ,chick      ,4,../../public/imgs/games/07-1/26/hen.png       ,hen      ,1",
    ]
  ]


  var config = {
    "prologue": "",
    "questions": [
      option[Math.floor(Math.random()*option.length)]
      // [
      //   "../../public/imgs/games/07-1/26/puppy.png       ,puppy      ,1,../../public/imgs/games/07-1/26/dog.png       ,dog      ,3",
      //   "../../public/imgs/games/07-1/26/kitten.png      ,kitten     ,2,../../public/imgs/games/07-1/26/cat.png       ,cat      ,5",
      //   "../../public/imgs/games/07-1/26/chick.png       ,chick      ,3,../../public/imgs/games/07-1/26/hen.png       ,hen      ,1",
      //   "../../public/imgs/games/07-1/26/tadpole.png     ,tadpole    ,4,../../public/imgs/games/07-1/26/frog.png      ,frog     ,2",
      //   "../../public/imgs/games/07-1/26/caterpillar.png ,caterpillar,5,../../public/imgs/games/07-1/26/butterfly.png ,butterfly,6",
      //   "../../public/imgs/games/07-1/26/baby.png        ,baby       ,6,../../public/imgs/games/07-1/26/mommy.png     ,mommy    ,4"
      // ]
    ],
    "errorDuration": 3000,
    "gapX": 50,
    "onFinish":function(){
      var _finishData = finishedDataUrl();
      Swal.fire({
        title: '好棒唷！全部答對～',
        imageUrl: _finishData['img'],
        imageWidth:250,
        showCancelButton: false,
        confirmButtonText: '再玩一次',
        allowOutsideClick: true,
        allowEscapeKey:false,
        reverseButtons:true,
      }).then(function(result){
        if (result.isConfirmed) {
          window.location.reload()
        }
      });
      var sound = new Howl({
          src: [_finishData['sound']],
          onplayerror: function() {
              sound.once('unlock', function() {
                  sound.play();
              });
          }
      });
      
      sound.play();
    },
    "onError":function(){
      setTimeout(function() {
        Swal.fire({
          title: '差一點點喔！請重新嘗試...',
          showCancelButton: false,
          confirmButtonText: '確認',
          allowOutsideClick: true,
          allowEscapeKey:false,
          reverseButtons:true,
        });  
      }, 2000);
    }
  };

</script> 
<script type="module" crossorigin src="../../public/js/games/dot-link-new.js"></script>