<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no">

  <script>
    window.onerror = function(message, source, line, column, error) {
        alert(line);
        alert(message);
        alert(source);
    };
  </script>
  <script src="../../public/js/games/jquery-3.7.0.min.js?v=20230914"></script>
  <script src="../../public/js/games/jquery-ui.min.js?v=20230914"></script>
  <link rel="stylesheet" href="../../public/css/games/tailwind.css?v=20230914">
  <link rel="stylesheet" href="../../public/css/games/bootstrap.min.css?v=20230914">
  <link rel="stylesheet" href="../../public/css/games/sweetalert2.min.css?v=20230914">
  <script src="../../public/js/games/bootstrap.bundle.min.js?v=20230914"></script>
  <script src="../../public/js/games/sweetalert2.min.js?v=20230914"></script>
  <!-- <script src="../../public/js/games/tailwindcss.min.js"></script> -->
  <script src="../../public/js/games/jquery.ui.touch-punch.min.js?v=20230914"></script>
  <script src="../../public/js/games/jquery.cookie.min.js?v=20230914"></script>
  <script src="../../public/js/games/howler.min.js?v=20230914"></script>
  <script src="../../public/js/games/check-orientation.js?v=20230914"></script>
  
<style>

body {
  font-family: Verdana;
}

.bg-img{
  display: flex;
  width: 100%;
  height: 100%;
  content: '';
  background: url(../../public/imgs/games/light_gray_concrete_wall.jpg) repeat 50% 50%;
  background-size: cover;
  position: fixed;
  opacity: 0.2;
  z-index: -9999;
}

</style>
</head>
<body>
  <div class="bg-img"></div>
  <div class="container injwang-bg-white lg:injwang-text-2xl injwang-max-w-[1180px] lg:injwang-min-h-full lg:injwang-shadow-md">
    <div class="injwang-pt-2 lg:injwang-pt-4">
      <div class="injwang-flex injwang-items-center injwang-mx-auto injwang-ml-14 injwang-w-[92%]">
        <div class="injwang-w-full injwang-relative injwang-ml-4">
          <img class="injwang-absolute injwang-left-[-2.5rem] injwang-top-1 injwang-h-8" src="../../public/imgs/games/title-fog.png">
          <div class="game-title injwang-text-orange-500 injwang-text-2xl lg:injwang-text-4xl injwang-border-b lg:injwang-pb-4 lg:injwang-mb-4">Spell and Count </div>
          <div>
            Click the right letter to complete each word, then click the number correctly. 
          </div>
        </div>
      </div>
    </div>
    <div class="injwang-w-[30%] injwang-min-w-[300px] injwang-mx-auto injwang-pt-6 lg:injwang-w-[70%] injwang-grid injwang-grid-cols-1 lg:injwang-grid-cols-2 injwang-gap-2">
      <div class="injwang-border injwang-min-w-[369px]">
        <img class="injwang-w-full injwang-h-[180px] injwang-object-cover" src="../../public/imgs/games/07-1/28/butterfly.jpg">
        <div class="injwang-text-3xl injwang-flex injwang-items-center">
          <div class="injwang-w-3/4 injwang-h-[95px] injwang-text-center injwang-py-2 injwang-border injwang-flex injwang-items-center injwang-flex injwang-items-center">
            <div class="injwang-w-fit injwang-mx-auto injwang-flex injwang-items-center">
              butterfly            
            </div>
          </div>
          <div class="injwang-w-1/4 injwang-h-[95px] injwang-min-w-[85px] injwang-text-center injwang-py-2 injwang-border injwang-flex injwang-items-center">
            <div class="injwang-flex injwang-items-center injwang-mx-auto">
              <question class="injwang-mx-1 injwang-border-slate-400 injwang-grid" data-answer="1-6">
                <q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-bg-slate-200 injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="1-6">6</q-option>
                <q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-bg-slate-200 injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="1-7">7</q-option>
              </question>
            </div>
          </div>
        </div>
      </div>
      <div class="injwang-border injwang-min-w-[369px]">
        <img class="injwang-w-full injwang-h-[180px] injwang-object-cover" src="../../public/imgs/games/07-1/28/chick.jpg">
        <div class="injwang-text-3xl injwang-flex injwang-items-center">
          <div class="injwang-w-3/4 injwang-h-[95px] injwang-text-center injwang-py-2 injwang-border injwang-flex injwang-items-center">
            <div class="injwang-w-fit injwang-mx-auto injwang-flex injwang-items-center">
              <span>ck</span>
              <question class="injwang-mx-1 injwang-border-slate-400 injwang-grid" data-answer="2-i">
                <q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-bg-slate-200 injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="2-i">i</q-option>
                <q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-bg-slate-200 injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="2-e">e</q-option>
              </question>
              <span>ck</span>
            </div>
          </div>
          <div class="injwang-w-1/4 injwang-h-[95px] injwang-min-w-[85px] injwang-text-center injwang-py-2 injwang-flex injwang-items-center">
            <div class="injwang-flex injwang-items-center injwang-mx-auto">
              <question class="injwang-mx-1 injwang-border-slate-400 injwang-grid" data-answer="2-3">
                <q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-bg-slate-200 injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="2-4">4</q-option>
                <q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-bg-slate-200 injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="2-3">3</q-option>
              </question>
            </div>
          </div>
        </div>
      </div>
      <div class="injwang-border injwang-min-w-[369px]">
        <img class="injwang-w-full injwang-h-[180px] injwang-object-cover" src="../../public/imgs/games/07-1/28/puppy.jpg">
        <div class="injwang-text-3xl injwang-flex injwang-items-center">
          <div class="injwang-w-3/4 injwang-h-[95px] injwang-text-center injwang-py-2 injwang-border injwang-flex injwang-items-center">
            <div class="injwang-w-fit injwang-mx-auto injwang-flex injwang-items-center">
              <span>p</span>
              <question class="injwang-mx-1 injwang-border-slate-400 injwang-grid" data-answer="u">
                <q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-bg-slate-200 injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="a">a</q-option>
                <q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-bg-slate-200 injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="u">u</q-option>
              </question>
              <span>ppy</span>
            </div>
          </div>
          <div class="injwang-w-1/4 injwang-h-[95px] injwang-min-w-[85px] injwang-text-center injwang-py-2 injwang-border injwang-flex injwang-items-center">
            <div class="injwang-flex injwang-items-center injwang-mx-auto">
              <question class="injwang-mx-1 injwang-border-slate-400 injwang-grid" data-answer="3-3">
                <q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-bg-slate-200 injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="3-3">3</q-option>
                <q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-bg-slate-200 injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="3-2">2</q-option>
              </question>
            </div>
          </div>
        </div>
      </div>
      <div class="injwang-border injwang-min-w-[369px]">
        <img class="injwang-w-full injwang-h-[180px] injwang-object-cover" src="../../public/imgs/games/07-1/28/tadpole.jpg">
        <div class="injwang-text-3xl injwang-flex injwang-items-center">
          <div class="injwang-w-3/4 injwang-h-[95px] injwang-text-center injwang-py-2 injwang-border injwang-flex injwang-items-center">
            <div class="injwang-w-fit injwang-mx-auto injwang-flex injwang-items-center">
              <span>t</span>
              <question class="injwang-mx-1 injwang-border-slate-400 injwang-grid" data-answer="4-1-a">
                <q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-bg-slate-200 injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="4-1-a">a</q-option>
                <q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-bg-slate-200 injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="4-1-o">o</q-option>
              </question>
              <span>dp</span>
              <question class="injwang-mx-1 injwang-border-slate-400 injwang-grid" data-answer="4-o">
                <q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-bg-slate-200 injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="4-o">o</q-option>
                <q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-bg-slate-200 injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="4-e">e</q-option>
              </question>
              <span>le</span>
            </div>
          </div>
          <div class="injwang-w-1/4 injwang-h-[95px] injwang-min-w-[85px] injwang-text-center injwang-py-2 injwang-border injwang-flex injwang-items-center">
            <div class="injwang-flex injwang-items-center injwang-mx-auto">
              <question class="injwang-mx-1 injwang-border-slate-400 injwang-grid" data-answer="4-8">
                <q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-bg-slate-200 injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="4-8">8</q-option>
                <q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-bg-slate-200 injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="4-5">5</q-option>
              </question>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>



<script>
    /**
     * 串接系統設定值
     * useComputerOrPadImgUrl 為提示使用平板或電腦圖片路徑
     * pleaseRotationImgUrl 為提示使用將平板轉為橫式
     * finishedUrl 為完成遊戲時的圖片連結
     */
     var useComputerOrPadImgUrl = '../../public/imgs/games/computerOrPad.png',
        pleaseRotationImgUrl = '../../public/imgs/games/pleaseRotation.png',
        finishedDatas=[{
            img: '../../public/imgs/games/finishImg1.png',
            sound:'../../public/sounds/games/finishSound1.mp3',
          },{
            img: '../../public/imgs/games/finishImg2.png',
            sound:'../../public/sounds/games/finishSound2.mp3',
          },{
            img: '../../public/imgs/games/finishImg3.png',
            sound:'../../public/sounds/games/finishSound3.mp3',
          }
        ],
        finishedDataUrl = function(){
          return finishedDatas[Math.floor(Math.random()*finishedDatas.length)];
        };
</script> 
<script src="../../public/js/games/click.js"></script>