<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script>
    window.onerror = function(message, source, line, column, error) {
        alert(line);
        alert(message);
        alert(source);
    };
  </script>
  <script src="../../public/js/games/jquery-3.7.0.min.js?v=20230914"></script>
  <script src="../../public/js/games/jquery-ui.min.js?v=20230914"></script>
  <link rel="stylesheet" href="../../public/css/games/tailwind.css?v=20230914">
  <link rel="stylesheet" href="../../public/css/games/bootstrap.min.css?v=20230914">
  <link rel="stylesheet" href="../../public/css/games/sweetalert2.min.css?v=20230914">
  <script src="../../public/js/games/bootstrap.bundle.min.js?v=20230914"></script>
  <script src="../../public/js/games/sweetalert2.min.js?v=20230914"></script>
  <!-- <script src="../../public/js/games/tailwindcss.min.js"></script> -->
  <script src="../../public/js/games/jquery.ui.touch-punch.min.js?v=20230914"></script>
  <script src="../../public/js/games/jquery.cookie.min.js?v=20230914"></script>
  <script src="../../public/js/games/howler.min.js?v=20230914"></script>
  <script src="../../public/js/games/check-orientation.js?v=20230914"></script>
<style>

body {
  font-family: Verdana;
  overflow-y: hidden;
}

body::before{
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: url(../../public/imgs/games/light_gray_concrete_wall.jpg) repeat 50% 50%;
  background-size: cover;
  position: absolute;
  opacity: 0.2;
  z-index: -9999;
}

</style>
</head>
<body>
  <div class="container injwang-bg-white lg:injwang-text-2xl injwang-max-w-[1180px] lg:injwang-min-h-full lg:injwang-shadow-md">
    <div id="title-warp" class="injwang-pt-2 lg:injwang-pt-6">
      <div class="injwang-flex injwang-items-center injwang-mx-auto injwang-w-[90%]">
        <div class="injwang-w-full injwang-relative">
          <img class="injwang-absolute injwang-left-[-2.5rem] injwang-top-1 injwang-h-8" src="../../public/imgs/games/title-fog.png">
          <div class="game-title injwang-text-orange-500 injwang-text-2xl lg:injwang-text-4xl injwang-border-b lg:injwang-pb-4 lg:injwang-mb-2">Matching Game</div>
          <div>
            Take a look at the pictures below; then connect to the correct word. 
          </div>
        </div>
      </div>
    </div>
    <div id="app" class="injwang-w-[90%] injwang-mx-auto injwang-mt-[20px]"></div>
  </div>

</body>



<script>
    /**
     * 串接系統設定值
     * useComputerOrPadImgUrl 為提示使用平板或電腦圖片路徑
     * pleaseRotationImgUrl 為提示使用將平板轉為橫式
     * finishedUrl 為完成遊戲時的圖片連結
     */
     var useComputerOrPadImgUrl = '../../public/imgs/games/computerOrPad.png',
        pleaseRotationImgUrl = '../../public/imgs/games/pleaseRotation.png',
        finishedDatas=[{
            img: '../../public/imgs/games/finishImg1.png',
            sound:'../../public/sounds/games/finishSound1.mp3',
          },{
            img: '../../public/imgs/games/finishImg2.png',
            sound:'../../public/sounds/games/finishSound2.mp3',
          },{
            img: '../../public/imgs/games/finishImg3.png',
            sound:'../../public/sounds/games/finishSound3.mp3',
          }
        ],
        finishedDataUrl = function(){
          return finishedDatas[Math.floor(Math.random()*finishedDatas.length)];
        };

  var config = {
    "questions": [
      [
        "../../public/imgs/games/11-5/25/stick_insect.jpg, ,1,../../public/imgs/games/11-5/25/empty.png,stick insect,3",
        "../../public/imgs/games/11-5/25/grasshoppers.jpg, ,2,../../public/imgs/games/11-5/25/empty.png,grasshoppers,1",
        "../../public/imgs/games/11-5/25/cicada.jpg      , ,3,../../public/imgs/games/11-5/25/empty.png,cicada      ,2",
        "../../public/imgs/games/11-5/25/bee.jpg         , ,4,../../public/imgs/games/11-5/25/empty.png,bee         ,4",
      ]
    ],
    "errorDuration": 3000,
    "gapX": 50,
    "onFinish":function(){
      var _finishData = finishedDataUrl();
      (function(){

      
        Swal.fire({
          title: '好棒唷！全部答對～',
          imageUrl: _finishData['img'],
          imageWidth:250,
          showCancelButton: false,
          confirmButtonText: '再玩一次',
          allowOutsideClick: false,
          allowEscapeKey:false,
          reverseButtons:true,
        }).then(function(result){
          if (result.isConfirmed) {
            $.cookie('isReload', '1');
            window.location.reload()
          }
        });
      }());

      setTimeout(function() {
        var sound = new Howl({
            src: [_finishData['sound']],
            onplayerror: function() {
                sound.once('unlock', function() {
                    sound.play();
                });
            }
        });
        
        sound.play();
      }, 300);

    },
    "onError":function(){
      setTimeout(function() {
        Swal.fire({
          title: '差一點點喔！請重新嘗試...',
          html:'',
          showCancelButton: false,
          confirmButtonText: '確認',
          allowOutsideClick: true,
          allowEscapeKey:false,
          reverseButtons:true,
        });  
      }, 2000);
    }
  };

</script> 
<script type="module" crossorigin src="../../public/js/games/dot-link-new.js"></script>