<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="../../public/js/games/jquery-3.7.0.min.js"></script>
  <script src="../../public/js/games/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="../../public/css/games/bootstrap.min.css">
  <script src="../../public/js/games/bootstrap.bundle.min.js"></script>
  <script src="../../public/js/games/sweetalert2.min.js"></script>
  <script src="../../public/js/games/tailwindcss.min.js"></script>
  <script src="../../public/js/games/check-orientation.js"></script>
  <script src="../../public/js/games/jquery.ui.touch-punch.min.js"></script>
  <script>tailwind.config = { prefix: 'injwang-' }</script>
<style>

body {
  font-family: monospace;
  overflow: hidden;
}

body::before{
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: url(../../public/imgs/games/light_gray_concrete_wall.jpg) repeat 50% 50%;
  background-size: cover;
  position: absolute;
  opacity: 0.2;
  z-index: -9999;
}

</style>
</head>
<body>
  <header id="header" class="header injwang-bg-cyan-950 injwang-text-white injwang-h-20" data-scrollto-offset="0">
    <div class="container d-flex align-items-center justify-content-between">
        Header
    </div>
  </header>
  <main id="main" class="game">
    <div class="breadcrumbs injwang-bg-cyan-950">
      breadcrumbs
    </div>
    <div id="game-container" class="container injwang-mx-auto injwang-bg-white injwang-max-w-[1180px] lg:injwang-shadow-md">
      <iframe src="29-content.html" width="1152" height="720"> 

      </iframe>
    </div>
  </main>
  <footer id="footer" class="footer injwang-bg-cyan-950 injwang-text-white">
    <div class="footer-legal text-center">
        <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

            <div class="d-flex flex-column align-items-center align-items-lg-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>漢珍數位圖書</span></strong>. All Rights Reserved
                </div>

            </div>
        </div>
    </div>
  </footer>
  <div class="modal" id="login" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">登入</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="username"><i class="bi bi-person-circle"></i></span>
                      <input type="text" class="form-control" placeholder="帳號" aria-label="Username"
                          aria-describedby="username">
                  </div>
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="password"><i class="bi bi-key"></i></span>
                      <input type="text" class="form-control" placeholder="密碼" aria-label="Password"
                          aria-describedby="password">
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn" data-bs-dismiss="modal">LOGIN</button>
              </div>
          </div>
      </div>
  </div>
</body>
<script>


  var useComputerOrPadImgUrl = '../../public/imgs/games/computerOrPad.png',
      pleaseRotationImgUrl = '../../public/imgs/games/pleaseRotation.png';

  $(function(){


    var resize = function(){
        $('#game-container').height(window.outerHeight - $('#header').height() - $('.breadcrumbs').height() - $('#footer').height())
        var gameIframeWidth  = $('#game-container > iframe').width();
        var gameIframeHeight = $('#game-container > iframe').height();
        var gameContainerWidth  = $('#game-container').width();
        var gameContainerHeight = $('#game-container').height();

        var isLimitByWidth = (gameContainerWidth / 1152) < (gameContainerHeight / 440);

        var scale = Math.min(gameContainerWidth / 1152 , gameContainerHeight / 440 )
        console.log(scale,gameContainerWidth / 1152 , gameContainerHeight / 440);

        $('#game-container > iframe').css('transform', 'scale('+scale+')')
        $('#game-container > iframe').css('transform-origin', (isLimitByWidth ? 'left':'50%')+' top')
    }
    resize();
    $( window ).on( "resize", resize);
    $( window ).on("orientationchange",function(){
      window.location.reload();
    })
  });


</script>



