<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="../../public/js/games/jquery-3.7.0.min.js"></script>
  <script src="../../public/js/games/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="../../public/css/games/bootstrap.min.css">
  <script src="../../public/js/games/bootstrap.bundle.min.js"></script>
  <script src="../../public/js/games/sweetalert2.min.js"></script>
  <script src="../../public/js/games/tailwindcss.min.js"></script>
  <script src="../../public/js/games/check-orientation.js"></script>
  <script src="../../public/js/games/jquery.ui.touch-punch.min.js"></script>
  <script>tailwind.config = { prefix: 'tw-' }</script>
<style>

body {
  font-family: monospace;
}

body::before{
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: url(../../public/imgs/games/light_gray_concrete_wall.jpg) repeat 50% 50%;
  background-size: cover;
  position: absolute;
  opacity: 0.2;
  z-index: -9999;
}

</style>
</head>
<body>
  <div class="container tw-bg-white lg:tw-text-2xl tw-max-w-[1180px] lg:tw-min-h-full lg:tw-shadow-md">
    <div class="tw-pt-1 lg:tw-pt-2 lg:tw-pt-6 tw-mb-1 lg:tw-mb-6">
      <div class="tw-flex tw-items-center tw-mx-auto tw-w-[90%]">
        <div class="tw-w-5/6 tw-relative">
          <img class="tw-absolute tw-left-[-2.5rem] tw-top-1 tw-h-8" src="../../public/imgs/games/title-fog.png">
          <div class="tw-text-orange-500 tw-text-2xl lg:tw-text-4xl tw-border-b lg:tw-pb-1 lg:tw-mb-2">Guess Who</div>
          <div>
            Fill In the blanks complete the sentences.
          </div>
        </div>
        <div class="tw-ml-5 tw-w-1/6">
          <img class="tw-w-full" src="../../public/imgs/games/11-5/29/child.jpg">
        </div>
      </div>
    </div>
    <div class="droppable tw-min-h-5 tw-p-3 tw-border-2 tw-border-dashed tw-border-amber-900 tw-rounded tw-flex tw-my-2 lg:tw-mx-10 lg:tw-my-6 tw-bg-slate-100 tw-w-[90%] tw-mx-auto ui-droppable" data-is_stock_area="yes">
      <div id="draggable-1" class="draggable-item tw-m-2 tw-cursor-grab tw-bg-white tw-border tw-border-orange-700 tw-p-2 tw-rounded ui-draggable ui-draggable-handle" data-value="sing" style="position: relative;">sing</div>
      <div id="draggable-1" class="draggable-item tw-m-2 tw-cursor-grab tw-bg-white tw-border tw-border-orange-700 tw-p-2 tw-rounded ui-draggable ui-draggable-handle" data-value="pretend" style="position: relative;">pretend</div>
      <div id="draggable-1" class="draggable-item tw-m-2 tw-cursor-grab tw-bg-white tw-border tw-border-orange-700 tw-p-2 tw-rounded ui-draggable ui-draggable-handle" data-value="jump" style="position: relative;">jump</div>
      <div id="draggable-1" class="draggable-item tw-m-2 tw-cursor-grab tw-bg-white tw-border tw-border-orange-700 tw-p-2 tw-rounded ui-draggable ui-draggable-handle" data-value="fight" style="position: relative;">fight</div>
    </div>
    <div class="tw-mx-0 tw-my-0 lg:tw-mx-[2.5rem] tw-p-2 lg:tw-p-[22px]" style="box-shadow: 11px 14px 1px 1px rgb(132 203 241);border-radius: 30px;">
      <div class="tw-border-l-4 tw-border-orange-300 tw-pl-3 tw-py-1 lg:tw-p-3 lg:tw-mx-10 tw-my-2 lg:tw-my-6 tw-leading-8 lg:tw-leading-10">
        <div>I am a grasshopper.</div>
        <div class="tw-flex">
          I know how to 
          <div class="droppable question tw-mx-2 tw-border-b tw-border-amber-700 tw-w-28 tw-h-10 ui-droppable" data-answer="jump"></div>
          .
        </div>
      </div>
      <div class="tw-border-l-4 tw-border-orange-300 tw-pl-3 tw-py-1 lg:tw-p-3 lg:tw-mx-10 tw-my-2 lg:tw-my-6 tw-leading-8 lg:tw-leading-10">
        <div>I am a cicada.</div>
        <div class="tw-flex">
          I know how to 
          <div class="droppable question tw-mx-2 tw-border-b tw-border-amber-700 tw-w-28 tw-h-10 ui-droppable" data-answer="sing"></div>
          .
        </div>
      </div>
      <div class="tw-border-l-4 tw-border-orange-300 tw-pl-3 tw-py-1 lg:tw-p-3 lg:tw-mx-10 tw-my-2 lg:tw-my-6 tw-leading-8 lg:tw-leading-10">
        <div>I am a male stag bettle.</div>
        <div class="tw-flex">
          I know how to 
          <div class="droppable question tw-mx-2 tw-border-b tw-border-amber-700 tw-w-28 tw-h-10 ui-droppable" data-answer="fight"></div>
          .
        </div>
      </div>
      <div class="tw-border-l-4 tw-border-orange-300 tw-pl-3 tw-py-1 lg:tw-p-3 lg:tw-mx-10 tw-my-2 lg:tw-my-6 tw-leading-8 lg:tw-leading-10">
        <div>I am a stick insect.</div>
        <div class="tw-flex">
          I know how to 
          <div class="droppable question tw-mx-2 tw-border-b tw-border-amber-700 tw-w-28 tw-h-10 ui-droppable" data-answer="pretend"></div>
          .
        </div>
      </div>
    </div>
  </div>
</body>



<script>
    /**
     * 串接系統設定值
     * backUrl 為遊戲完成時，要跳轉回的路由
     * useComputerOrPadImgUrl 為提示使用平板或電腦圖片路徑
     * pleaseRotationImgUrl 為提示使用將平板轉為橫式
     */
     var backUrl = "index.html",
        useComputerOrPadImgUrl = '../../public/imgs/games/computerOrPad.png',
        pleaseRotationImgUrl = '../../public/imgs/games/pleaseRotation.png';
</script>
<script src="../../public/js/games/drag.js"></script>