<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script>
    window.onerror = function(message, source, line, column, error) {
        alert(line);
        alert(message);
        alert(source);
    };
  </script>
  <script src="../../public/js/games/jquery-3.7.0.min.js"></script>
  <script src="../../public/js/games/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="../../public/css/games/bootstrap.min.css">
  <script src="../../public/js/games/bootstrap.bundle.min.js"></script>
  <script src="../../public/js/games/sweetalert2.min.js"></script>
  <script src="../../public/js/games/tailwindcss.min.js"></script>
  <script src="../../public/js/games/jquery.ui.touch-punch.min.js"></script>
  <script src="../../public/js/games/jquery.cookie.min.js"></script>
  <script src="../../public/js/games/howler.min.js"></script>
  <script src="../../public/js/games/check-orientation.js"></script>
  
<style>

body {
  font-family: Verdana;
}
/* 
body::before{
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: url(../../public/imgs/games/light_gray_concrete_wall.jpg) repeat 50% 50%;
  background-size: cover;
  position: absolute;
  opacity: 0.2;
  z-index: -9999;
} */

</style>
</head>
<body>
  <div class="container relative bg-white lg:text-2xl max-w-[1180px] lg:min-h-full lg:shadow-md">
    <div class="pt-2 lg:pt-4">
      <div class="flex items-center mx-auto w-[90%]">
        <div class="w-full relative">
          <img class="absolute left-[-2.5rem] top-1 h-8" src="../../public/imgs/games/title-fog.png">
          <div class="game-title text-orange-500 text-2xl lg:text-4xl border-b lg:pb-4 lg:mb-2">Growing a Seed </div>
          <div class="lg:flex">
            <div class="w-[65%]">
            Do you know how a seed grows ?<br>
            See the pictures and click the correct answer. 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[360px] lg:w-[80%] mx-auto pt-2 grid grid-cols-1 lg:grid-cols-2 gap-2 text-lg pb-16">
      <div class="border">
        <img class="w-full h-[300px] object-cover border" src="../../public/imgs/games/07-3/28/1.jpg">
        <div class="w-fulltext-center flex items-center h-20 pl-2">
          <span>1.Plant a</span>
          <question class="mx-1 border-slate-400 grid" data-answer="seed">
            <q-option class="px-2 text-slate-600 cursor-pointer hover:bg-slate-200 rounded text-center" data-option-answer="seed">seed</q-option>
            <q-option class="px-2 text-slate-600 cursor-pointer hover:bg-slate-200 rounded text-center" data-option-answer="flower">flower</q-option>
          </question>
          <span>into a hole.</span>
        </div>
      </div>
      <div class="border">
        <img class="w-full h-[300px] object-cover border" src="../../public/imgs/games/07-3/28/2.jpg">
        <div class="w-fulltext-center flex items-center h-20 pl-2">
          <span>2.Cover the seed with</span>
          <question class="mx-1 border-slate-400 grid" data-answer="soil">
            <q-option class="px-2 text-slate-600 cursor-pointer hover:bg-slate-200 rounded text-center" data-option-answer="water">water</q-option>
            <q-option class="px-2 text-slate-600 cursor-pointer hover:bg-slate-200 rounded text-center" data-option-answer="soil">soil</q-option>
          </question>
          <span>.</span>
        </div>
      </div>
      <div class="border">
        <img class="w-full h-[300px] object-cover border" src="../../public/imgs/games/07-3/28/3.jpg">
        <div class="w-fulltext-center flex items-center h-20 pl-2">
          <span>3.Sprinkle the seed with a little</span>
            <question class="mx-1 border-slate-400 grid" data-answer="water">
              <q-option class="px-2 text-slate-600 cursor-pointer hover:bg-slate-200 rounded text-center" data-option-answer="water">water</q-option>
              <q-option class="px-2 text-slate-600 cursor-pointer hover:bg-slate-200 rounded text-center" data-option-answer="sand">sand</q-option>
            </question>
            <span>.</span>
        </div>
      </div>
      <div class="border">
        <img class="w-full h-[300px] object-cover border" src="../../public/imgs/games/07-3/28/4.jpg">
        <div class="w-fulltext-center flex items-center h-20 pl-2">
          <span>4.Bake the seed in the</span>
          <question class="mx-1 border-slate-400 grid" data-answer="sun">
            <q-option class="px-2 text-slate-600 cursor-pointer hover:bg-slate-200 rounded text-center" data-option-answer="snow">snow</q-option>
            <q-option class="px-2 text-slate-600 cursor-pointer hover:bg-slate-200 rounded text-center" data-option-answer="sun">sun</q-option>
          </question>
          <span>.</span>
        </div>
      </div>
      <div class="border">
        <img class="w-full h-[300px] object-cover border" src="../../public/imgs/games/07-3/28/5.jpg">
        <div class="w-fulltext-center flex items-center h-20 pl-2">
          <span>5.The little seed is ready to</span>
          <question class="mx-1 border-slate-400 grid" data-answer="grow">
            <q-option class="px-2 text-slate-600 cursor-pointer hover:bg-slate-200 rounded text-center" data-option-answer="grow">grow</q-option>
            <q-option class="px-2 text-slate-600 cursor-pointer hover:bg-slate-200 rounded text-center" data-option-answer="flow">flow</q-option>
          </question>
          <span>.</span>
        </div>
      </div>
      <div class="border">
        <img class="w-full h-[300px] object-cover border" src="../../public/imgs/games/07-3/28/6.jpg">
        <div class="w-fulltext-center flex items-center h-20 pl-2">
          <span>6.Little</span>
          <question class="mx-1 border-slate-400 grid" data-answer="stem">
            <q-option class="px-2 text-slate-600 cursor-pointer hover:bg-slate-200 rounded text-center" data-option-answer="stem">stem</q-option>
            <q-option class="px-2 text-slate-600 cursor-pointer hover:bg-slate-200 rounded text-center" data-option-answer="flower">flower</q-option>
          </question>
          <span>grows every day.</span>
        </div>
      </div>
      <div class="border">
        <img class="w-full h-[300px] object-cover border" src="../../public/imgs/games/07-3/28/7.jpg">
        <div class="w-fulltext-center flex items-center h-20 pl-2">
          <span>7.The stem</span>
          <question class="mx-1 border-slate-400 grid" data-answer="climbs">
            <q-option class="px-2 text-slate-600 cursor-pointer hover:bg-slate-200 rounded text-center" data-option-answer="jump">jump</q-option>
            <q-option class="px-2 text-slate-600 cursor-pointer hover:bg-slate-200 rounded text-center" data-option-answer="climbs">climbs</q-option>
          </question>
          <span>up to pole.</span>
        </div>
      </div>
      <div class="border">
        <img class="w-full h-[300px] object-cover border" src="../../public/imgs/games/07-3/28/8.jpg">
        <div class="w-fulltext-center flex items-center h-20 pl-2">
          <span>8.The flower bud is ready to</span>
          <question class="mx-1 border-slate-400 grid" data-answer="open">
            <q-option class="px-2 text-slate-600 cursor-pointer hover:bg-slate-200 rounded text-center" data-option-answer="open">open</q-option>
            <q-option class="px-2 text-slate-600 cursor-pointer hover:bg-slate-200 rounded text-center" data-option-answer="close">close</q-option>
          </question>
          <span>up.</span>
        </div>
      </div>
    </div>
  </div>
</body>



<script>
    /**
     * 串接系統設定值
     * useComputerOrPadImgUrl 為提示使用平板或電腦圖片路徑
     * pleaseRotationImgUrl 為提示使用將平板轉為橫式
     * finishedUrl 為完成遊戲時的圖片連結
     */
     var useComputerOrPadImgUrl = '../../public/imgs/games/computerOrPad.png',
        pleaseRotationImgUrl = '../../public/imgs/games/pleaseRotation.png',
        finishedDatas=[{
            img: '../../public/imgs/games/finishImg1.png',
            sound:'../../public/sounds/games/finishSound1.mp3',
          },{
            img: '../../public/imgs/games/finishImg2.png',
            sound:'../../public/sounds/games/finishSound2.mp3',
          },{
            img: '../../public/imgs/games/finishImg3.png',
            sound:'../../public/sounds/games/finishSound3.mp3',
          }
        ],
        finishedDataUrl = function(){
          return finishedDatas[Math.floor(Math.random()*finishedDatas.length)];
        };


</script> 
<script src="../../public/js/games/click.js"></script>