<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="../../public/js/games/jquery-3.7.0.min.js"></script>
  <script src="../../public/js/games/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="../../public/css/games/bootstrap.min.css">
  <script src="../../public/js/games/bootstrap.bundle.min.js"></script>
  <script src="../../public/js/games/sweetalert2.min.js"></script>
  <script src="../../public/js/games/tailwindcss.min.js"></script>
  <script src="../../public/js/games/check-orientation.js"></script>
  <script src="../../public/js/games/jquery.ui.touch-punch.min.js"></script>
  <script>tailwind.config = { prefix: 'injwang-' }</script>
<style>

body {
  font-family: monospace;
}

body::before{
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: url(../../public/imgs/games/light_gray_concrete_wall.jpg) repeat 50% 50%;
  background-size: cover;
  position: absolute;
  opacity: 0.2;
  z-index: -9999;
}

</style>
</head>
<body>
  <div class="container injwang-relative injwang-bg-white lg:injwang-text-2xl injwang-max-w-[1180px] lg:injwang-min-h-full lg:injwang-shadow-md">
    <div class="injwang-pt-2 lg:injwang-pt-6">
      <div class="injwang-flex injwang-items-center injwang-mx-auto injwang-w-[90%]">
        <div class="injwang-w-full injwang-relative">
          <img class="injwang-absolute injwang-left-[-2.5rem] injwang-top-1 injwang-h-8" src="../../public/imgs/games/title-fog.png">
          <div class="injwang-text-orange-500 injwang-text-2xl lg:injwang-text-4xl injwang-border-b lg:injwang-pb-4 lg:injwang-mb-2">Growing a Seed </div>
          <div>
            Do you know how a seed grows ?<br>
            See the pictures and click the correct answer. 
          </div>
        </div>
      </div>
    </div>
    <back-btn class="injwang-absolute injwang-top-[375px] injwang-left-1  injwang-flex injwang-items-center injwang-py-2 injwang-px-3 injwang-rounded injwang-font-medium injwang-select-none injwang-border injwang-text-gray-900 injwang-bg-blue-200 injwang-transition-colors hover:injwang-border-blue-600 hover:injwang-bg-blue-400 hover:injwang-text-white injwang-hidden">⪻ Back</back-btn>
    <next-btn class="injwang-absolute injwang-top-[375px] injwang-right-1 injwang-flex injwang-items-center injwang-py-2 injwang-px-3 injwang-rounded injwang-font-medium injwang-select-none injwang-border injwang-text-gray-900 injwang-bg-blue-200 injwang-transition-colors hover:injwang-border-blue-600 hover:injwang-bg-blue-400 hover:injwang-text-white">Next ⪼</next-btn>
    <page-one>
      <div class="injwang-w-[350px] lg:injwang-w-[65%] injwang-mx-auto injwang-pt-2 injwang-grid injwang-grid-cols-1 lg:injwang-grid-cols-2 lg:injwang-gap-2 injwang-text-lg">
        <div class="injwang-border">
          <img class="injwang-w-full injwang-h-[200px] injwang-object-cover injwang-border" src="../../public/imgs/games/07-3/28/1.jpg">
          <div class="injwang-w-fulltext-center injwang-py-2 injwang-flex injwang-items-center">
            <span>1.Plant a</span><question class="injwang-mx-1 injwang-border-b-2 injwang-border-slate-400 injwang-grid" ><q-option class="injwang-px-2 injwang-text-slate-400 injwang-cursor-pointer hover:injwang-text-orange-500" data-answer="right">seed</q-option><q-option class="injwang-px-2 injwang-text-slate-400 injwang-cursor-pointer hover:injwang-text-orange-500">flower</q-option></question><span>into a hole.</span>
          </div>
        </div>
        <div class="injwang-border">
          <img class="injwang-w-full injwang-h-[200px] injwang-object-cover injwang-border" src="../../public/imgs/games/07-3/28/2.jpg">
          <div class="injwang-w-fulltext-center injwang-py-2 injwang-flex injwang-items-center">
            <span>2.Cover the seed with</span><question class="injwang-mx-1 injwang-border-b-2 injwang-border-slate-400 injwang-grid"><q-option class="injwang-px-2 injwang-text-slate-400 injwang-cursor-pointer hover:injwang-text-orange-500">water</q-option><q-option class="injwang-px-2 injwang-text-slate-400 injwang-cursor-pointer hover:injwang-text-orange-500" data-answer="right">soil</q-option></question><span>.</span>
          </div>
        </div>
        <div class="injwang-border">
          <img class="injwang-w-full injwang-h-[200px] injwang-object-cover injwang-border" src="../../public/imgs/games/07-3/28/3.jpg">
          <div class="injwang-w-fulltext-center injwang-py-2">
            <span>3.Sprinkle the seed with a little</span>
            <div class="injwang-flex injwang-items-center">
              <question class="injwang-mx-1 injwang-border-b-2 injwang-border-slate-400 injwang-grid injwang-w-fit injwang-ml-5"><q-option class="injwang-px-2 injwang-text-slate-400 injwang-cursor-pointer hover:injwang-text-orange-500" data-answer="right">water</q-option><q-option class="injwang-px-2 injwang-text-slate-400 injwang-cursor-pointer hover:injwang-text-orange-500">sand</q-option></question><span>.</span>
            </div>
          </div>
        </div>
        <div class="injwang-border">
          <img class="injwang-w-full injwang-h-[200px] injwang-object-cover injwang-border" src="../../public/imgs/games/07-3/28/4.jpg">
          <div class="injwang-w-fulltext-center injwang-py-2 injwang-flex injwang-items-center">
            <span>4.Bake the seed in the</span><question class="injwang-mx-1 injwang-border-b-2 injwang-border-slate-400 injwang-grid"><q-option class="injwang-px-2 injwang-text-slate-400 injwang-cursor-pointer hover:injwang-text-orange-500">snow</q-option><q-option class="injwang-px-2 injwang-text-slate-400 injwang-cursor-pointer hover:injwang-text-orange-500" data-answer="right">sun</q-option></question><span>.</span>
          </div>
        </div>
      </div>
    </page-one>
    <page-two class="injwang-hidden">
      <div class="injwang-w-[350px] lg:injwang-w-[65%] injwang-mx-auto injwang-pt-2 injwang-grid injwang-grid-cols-1 lg:injwang-grid-cols-2 lg:injwang-gap-2 injwang-text-lg">
        <div class="border">
          <img class="injwang-w-full injwang-h-[200px] injwang-object-cover injwang-border" src="../../public/imgs/games/07-3/28/5.jpg">
          <div class="injwang-w-fulltext-center injwang-py-2 injwang-flex injwang-items-center">
            <span>5.The little seed is ready to</span><question class="injwang-mx-1 injwang-border-b-2 injwang-border-slate-400 injwang-grid"><q-option class="injwang-px-2 injwang-text-slate-400 injwang-cursor-pointer hover:injwang-text-orange-500" data-answer="right">grow</q-option><q-option class="injwang-px-2 injwang-text-slate-400 injwang-cursor-pointer hover:injwang-text-orange-500">flow</q-option></question><span>.</span>
          </div>
        </div>
        <div class="injwang-border">
          <img class="injwang-w-full injwang-h-[200px] injwang-object-cover injwang-border" src="../../public/imgs/games/07-3/28/6.jpg">
          <div class="injwang-w-fulltext-center injwang-py-2 injwang-flex injwang-items-center">
            <span>6.Little</span><question class="injwang-mx-1 injwang-border-b-2 injwang-border-slate-400 injwang-grid"><q-option class="injwang-px-2 injwang-text-slate-400 injwang-cursor-pointer hover:injwang-text-orange-500" data-answer="right">stem</q-option><q-option class="injwang-px-2 injwang-text-slate-400 injwang-cursor-pointer hover:injwang-text-orange-500">flower</q-option></question><span>grows every day.</span>
          </div>
        </div>
        <div class="injwang-border">
          <img class="injwang-w-full injwang-h-[200px] injwang-object-cover injwang-border" src="../../public/imgs/games/07-3/28/7.jpg">
          <div class="injwang-w-fulltext-center injwang-py-2 injwang-flex injwang-items-center">
            <span>7.The stem</span><question class="injwang-mx-1 injwang-border-b-2 injwang-border-slate-400 injwang-grid"><q-option class="injwang-px-2 injwang-text-slate-400 injwang-cursor-pointer hover:injwang-text-orange-500">jump</q-option><q-option class="injwang-px-2 injwang-text-slate-400 injwang-cursor-pointer hover:injwang-text-orange-500" data-answer="right">climbs</q-option></question><span>up to pole.</span>
          </div>
        </div>
        <div class="injwang-border">
          <img class="injwang-w-full injwang-h-[200px] injwang-object-cover injwang-border" src="../../public/imgs/games/07-3/28/8.jpg">
          <div class="injwang-w-fulltext-center injwang-py-2">
            <span>8.The flower bud is ready to</span>
            <div class="injwang-flex injwang-items-center">
              <question class="injwang-mx-1 injwang-border-b-2 injwang-border-slate-400 injwang-grid injwang-w-fit injwang-ml-5"><q-option class="injwang-px-2 injwang-text-slate-400 injwang-cursor-pointer hover:injwang-text-orange-500" data-answer="right">open</q-option><q-option class="injwang-px-2 injwang-text-slate-400 injwang-cursor-pointer hover:injwang-text-orange-500" >close</q-option></question><span>up.</span>
            </div>
          </div>
        </div>
      </div>
    </page-two>
  </div>
</body>



<script>
    /**
     * 串接系統設定值
     * useComputerOrPadImgUrl 為提示使用平板或電腦圖片路徑
     * pleaseRotationImgUrl 為提示使用將平板轉為橫式
     * finishedUrl 為完成遊戲時的圖片連結
     */
     var useComputerOrPadImgUrl = '../../public/imgs/games/computerOrPad.png',
        pleaseRotationImgUrl = '../../public/imgs/games/pleaseRotation.png',
        finishedImgUrls = [
          '../../public/imgs/games/finishImg1.png',
          '../../public/imgs/games/finishImg2.png',
          '../../public/imgs/games/finishImg3.png',
        ],
        finishedImgUrl = function(){
          return finishedImgUrls[Math.floor(Math.random()*finishedImgUrls.length)];
        };
    (function($) {
      
      $('back-btn').on('click',function(){
        $('back-btn, page-two').addClass('injwang-hidden');
        $('next-btn, page-one').removeClass('injwang-hidden');
      });

      $('next-btn').on('click',function(){
        $('next-btn, page-one').addClass('injwang-hidden');
        $('back-btn, page-two').removeClass('injwang-hidden');
      });

    })(jQuery);

</script> 
<script src="../../public/js/games/click.js"></script>