<div class="header-info">
    <a class="hd-logo" href="index.html"><img src="#">花蓮危老重建資訊網</a>
    <a class="mb-navi-btn"><span></span></a>
</div>
<div class="index_banner"></div>
<div class="navi-bar">
    <ul class="navigation">
        <li class="navi-list active"><a href="index.html">首頁</a></li>
        <li class="navi-list"><a href="rebuild.html">認識危老重建</a></li>
        <li class="navi-list"><a href="laws.html">相關法令</a></li>
        <li class="navi-list"><a href="plan.html">歷年核定計畫內容</a></li>
        <li class="navi-list"><a href="download.html">下載專區</a></li>
    </ul>
</div>