<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="../../public/js/games/jquery-3.7.0.min.js"></script>
  <script src="../../public/js/games/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="../../public/css/games/bootstrap.min.css">
  <script src="../../public/js/games/bootstrap.bundle.min.js"></script>
  <script src="../../public/js/games/sweetalert2.min.js"></script>
  <script src="../../public/js/games/tailwindcss.min.js"></script>
  <script src="../../public/js/games/check-orientation.js"></script>
  <script src="../../public/js/games/jquery.ui.touch-punch.min.js"></script>
  <script src="../../public/js/games/howler.min.js"></script>
  <script>tailwind.config = { prefix: 'injwang-' }</script>
<style>

body {
  font-family: Verdana;
}

body::before{
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: url(../../public/imgs/games/light_gray_concrete_wall.jpg) repeat 50% 50%;
  background-size: cover;
  position: absolute;
  opacity: 0.2;
  z-index: -9999;
}

</style>
</head>
<body>
  <div class="container injwang-bg-white lg:injwang-text-2xl injwang-max-w-[1180px] lg:injwang-min-h-full lg:injwang-shadow-md">
    <div class="injwang-pt-2 lg:injwang-pt-4">
      <div class="injwang-flex injwang-items-center injwang-mx-auto injwang-pl-6 injwang-w-[92%]">
        <div class="injwang-w-full injwang-relative">
          <img class="injwang-absolute injwang-left-[-2.5rem] injwang-top-1 injwang-h-8" src="../../public/imgs/games/title-fog.png">
          <div class="game-title injwang-text-orange-500 injwang-text-2xl lg:injwang-text-4xl injwang-border-b lg:injwang-pb-4 lg:injwang-mb-2">Word Scramble </div>
          <div>
            Look at the picture and circle the letter to spell the word correctly.
          </div>
        </div>
      </div>
    </div>
    <div class="injwang-w-[30%] injwang-min-w-[300px] injwang-mx-auto injwang-pt-6 lg:injwang-w-[70%] injwang-grid injwang-grid-cols-1 lg:injwang-grid-cols-2 injwang-gap-2">
      <div class="injwang-border injwang-min-w-[350px]">
        <img class="injwang-w-full injwang-h-[180px] injwang-object-cover" src="../../public/imgs/games/05-2/27/stone.jpg">
        <div class="injwang-text-4xl injwang-flex">
          <div class="injwang-w-full injwang-h-[100px] injwang-text-center injwang-py-2 injwang-border injwang-flex injwang-items-center injwang-justify-center">
              st<question class="injwang-mx-1 injwang-border-slate-400 injwang-grid" data-answer="o"><q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-text-orange-500 injwang-border injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="u">u</q-option><q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-text-orange-500 injwang-border injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="o">o</q-option></question>ne
          </div>
        </div>
      </div>
      <div class="injwang-border injwang-min-w-[350px]">
        <img class="injwang-w-full injwang-h-[180px] injwang-object-cover" src="../../public/imgs/games/05-2/27/waterweeds.jpg">
        <div class="injwang-text-4xl injwang-flex">
          <div class="injwang-w-full injwang-h-[100px] injwang-text-center injwang-py-2 injwang-border injwang-flex injwang-items-center injwang-justify-center">
            water<question class="injwang-mx-1 injwang-border-slate-400 injwang-grid" data-answer="w"><q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-text-orange-500 injwang-border injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="w">w</q-option><q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-text-orange-500 injwang-border injwang-rounded injwang-mt-1 injwang-text-center injwang-pb-2" data-option-answer="y">y</q-option></question>eeds
          </div>
        </div>
      </div>
      <div class="injwang-border injwang-min-w-[350px]">
        <img class="injwang-w-full injwang-h-[180px] injwang-object-cover" src="../../public/imgs/games/05-2/27/twisting.jpg">
        <div class="injwang-text-4xl injwang-flex">
          <div class="injwang-w-full injwang-h-[100px] injwang-text-center injwang-py-2 injwang-border injwang-flex injwang-items-center injwang-justify-center">
            <question class="injwang-mx-1 injwang-border-slate-400 injwang-grid" data-answer="t"><q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-text-orange-500 injwang-border injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="s">s</q-option><q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-text-orange-500 injwang-border injwang-rounded injwang-mt-1 injwang-text-center"  data-option-answer="t">t</q-option></question>wisting
          </div>
        </div>
      </div>
      <div class="injwang-border injwang-min-w-[350px]">
        <img class="injwang-w-full injwang-h-[180px] injwang-object-cover" src="../../public/imgs/games/05-2/27/long_river.jpg">
        <div class="injwang-text-4xl injwang-flex">
          <div class="injwang-w-full injwang-h-[100px] injwang-text-center injwang-py-2 injwang-border injwang-flex injwang-items-center injwang-justify-center">
            long<question class="injwang-mx-1 injwang-border-slate-400 injwang-grid" data-answer="r"><q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-text-orange-500 injwang-border injwang-rounded injwang-mt-1 injwang-text-center" data-option-answer="d">d</q-option><q-option class="injwang-px-2 injwang-text-slate-600 injwang-cursor-pointer hover:injwang-text-orange-500 injwang-border injwang-rounded injwang-mt-1 injwang-text-center"  data-option-answer="r">r</q-option></question>iver
          </div>
        </div>
      </div>
    </div>
  </div>

</body>



<script>
    /**
     * 串接系統設定值
     * useComputerOrPadImgUrl 為提示使用平板或電腦圖片路徑
     * pleaseRotationImgUrl 為提示使用將平板轉為橫式
     * finishedUrl 為完成遊戲時的圖片連結
     */
     var useComputerOrPadImgUrl = '../../public/imgs/games/computerOrPad.png',
        pleaseRotationImgUrl = '../../public/imgs/games/pleaseRotation.png',
        finishedDatas=[{
            img: '../../public/imgs/games/finishImg1.png',
            sound:'../../public/sounds/games/finishSound1.mp3',
          },{
            img: '../../public/imgs/games/finishImg2.png',
            sound:'../../public/sounds/games/finishSound2.mp3',
          },{
            img: '../../public/imgs/games/finishImg3.png',
            sound:'../../public/sounds/games/finishSound3.mp3',
          }
        ],
        finishedDataUrl = function(){
          return finishedDatas[Math.floor(Math.random()*finishedDatas.length)];
        };
</script> 
<script src="../../public/js/games/click.js"></script>